<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stysheet" href="media.css"> 
</head>
<body id="b1">
<header id="h1"></header>
<section id="showcase">

<div class="container">
<div id="message"></div>
  <p>View recipes as a guest <br>
Sign up to receive  <br>
top weekly recipes</p>

  <h1><%= link_to 'Create account', register_path %></h1><br>

  <h1><%= link_to 'Login', recipes_path %></h1>
  </div>
</section>

<div class="footer3">
  <p>&copy; iTopRecipes.com 2017</p>
</div>

</body>
</html>