<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stysheet" href="media.css"> 
</head>
<html>
</head>
<body id="b1">
<header id="h1"></header>
<div class="container">
<div id="bg">
<!--link_to image_tag('welcome-page-989-x-548-px-HQ.jpg', class: 'img'), url_for({:controller => 'pages', :action => 'index'}) %>-->
<div id="box">  <br><br>
<h3 id="welcome-font">Welcome to</h3>
<h1 id="welcome-font">Bruno</h1>
<h2 id="welcome-font">Top Recipes</h2>
</div>
  <center id="welcome-font"> 

  <div id="enter">
  <%=link_to 'Enter',url_for({:controller => 'pages', :action => 'index'}) %>
  <!--< if logged_in? %>-->
  <!--<= current_user.chefname %>-->
  <!--< else %>-->
  <!--<strong><= 'Guest' %></strong>-->
  <!--<end%>-->
  <!--</div>-->
  </center>
</div>

<div class="footer2">
  <p>&copy; iTopRecipes.com 2017</p>
</div>
</div>
</body>

</html>
